<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  ​
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  ​
  <!--this adds in the google font-->
  <style>
    body {
      font-family: 'Trispace', serif;
      font-size: 48px;
    }

    h1 {
      text-align: center;
    }
  </style>

  ​<!--website title-->
  <title>Isabell Danell</title>

  <!--navbar with buttons which link to other websites-->
  <head>
    <nav class="navbar" style="text-align: center; background-color: white;">

      <form action="https://www.linkedin.com/in/isabell-danell-2064721ab/" method="get" target="_blank"
        class="btn no-border">
        <button style="background-color:rgb(66, 172, 196)" type="submit"
          class="btn btn-dark  no-border  rounded-pill">Linkedin</button>
      </form>
      ​
      <form action="https://github.com/imdanell" method="get" target="_blank" class="btn no-border">
        <button style="background-color:rgb(66, 172, 196)" type="submit"
          class="btn btn-dark  no-border rounded-pill">Github</button>
      </form>
      ​
      <form action="mailto:isabellmdanell@gmail.com" method="get" target="_blank" class="btn no-border">
        <button style="background-color:rgb(66, 172, 196)" type="submit"
          class="btn btn-dark no-border rounded-pill">Email Me!</button>
      </form>

      <a href="resumepage.html" class="btn no-border">
        <button style="background-color:rgb(66, 172, 196)" class="btn btn-dark no-border rounded-pill">View My
          Resume</button>
      </a>

    <a href="projects.html" class="btn no-border">
      <button style="background-color:rgb(66, 172, 196)" class="btn btn-dark no-border rounded-pill">View My
        Projects</button>
    </a>
  </nav>
  </head>


<body>
<!--main content of the webpage-->
  <div class="col-md-10 m-auto">
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Well hey there!</h1> <br>
        <h2 class="display-8">Thanks for stopping by! I'm Isabell Danell, and here's a little about me...</h2>

        <p class="lead">As a 2020 high school graduate with three semesters of college already completed during that
          time, and having made the college deans list all three times, completing the coding Bootcamp though the
          University of Minnesota was an exciting next step in my education.
          <br> These achievements, both completed and forthcoming, have brought me to a fantastic jumping-off point to
          enter the workforce. As a full stack web developer, I have honed my skills in HTML, CSS, Handlebars, Node and
          Javascript among many other languages. I am eager to bring that same level of dedication and attention into my
          next professional advance.</p>
      </div>
    </div>


    ​
<!--footer-->
    <h1 style="font-size:20px; color: #ffffff; margin: 10px; text-align: center;">
      Made with ❤️️ by Isabell Danell
    </h1>
    <p style="text-align: center;">

    </p>
</body>

</html>