<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ​
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />

    <!--google fonts-->
    <style>
        body {
            font-family: 'Trispace', serif;
            font-size: 48px;
        }

        h1 {
            text-align: center;
        }
    </style>

    <title>Isabell Danell</title>

<body>

    <!--interactive navbar-->

    <head>
        <nav class="navbar" style="text-align: center; background-color: white;">

            <form action="https://www.linkedin.com/in/isabell-danell-2064721ab/" method="get" target="_blank"
                class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" type="submit"
                    class="btn btn-dark  no-border  rounded-pill">Linkedin</button>
            </form>
            ​
            <form action="https://github.com/imdanell" method="get" target="_blank" class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" type="submit"
                    class="btn btn-dark  no-border rounded-pill">Github</button>
            </form>
            ​
            <form action="mailto:isabellmdanell@gmail.com" method="get" target="_blank" class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" type="submit"
                    class="btn btn-dark no-border rounded-pill">Email Me!</button>
            </form>

            <a href="resumepage.html" class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" class="btn btn-dark no-border rounded-pill">View My
                    Resume</button>
            </a>

            <a href="index.html" class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" class="btn btn-dark no-border rounded-pill">Return to
                    Homepage</button>
            </a>
        </nav>
    </head>




</body>

<!--made all text in a clickable button because it looks better-->
<div class="col-md-10 m-auto">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Isabell's Projects</h1> <br>

            <p class="lead">
            <form
                action="https://github.com/imdanell/DayPlanner-5/blob/main/Assets/05-third-party-apis-homework-demo.gif"
                method="get" target="_blank" class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" type="submit"
                    class="btn btn-dark  no-border rounded-pill">Click here to see a demo of my interactive dayplanner
                    which allows you to easily add in any events or important notes so you can keep track of your
                    day.</button>
            </form>
            <form action="https://github.com/ayshasanyang/Project-1/blob/master/README.md" method="get" target="_blank"
                class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" type="submit"
                    class="btn btn-dark  no-border rounded-pill">Click here to view Weather or Not, my first group
                    project which was created to help facilitate fun-filled outdoor adventures.</button>
            </form>
            <form action="https://drive.google.com/file/d/1mMjczprOhjuqZfoRVLT1CDgSaKWa-vsD/view" method="get"
                target="_blank" class="btn no-border">
                <button style="background-color:rgb(66, 172, 196)" type="submit"
                    class="btn btn-dark  no-border rounded-pill">Click here to be directed to a youtube where I demo the
                    README generator I made, which works with node.</button>
            </form>


            </p>
        </div>
    </div>
    ​
    <!--footer-->
    <h1 style="font-size:20px; color: #ffffff; margin: 10px; text-align: center;">
        Made with ❤️️ by Isabell
    </h1>
    <p style="text-align: center;">
    </p>
    </body>

</html>